body {
    font-family: 'Roboto', sans-serif;
    background-color: #222;
    color: #fff;
}

.title-container {
    margin-left: 10px;
}

.title-container button {
    margin-left: 1150px; 
    background-color: #333;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}


input{
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

input[type="text"], select {
    width: 217px; 
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

select {
    color: white;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('bitmap.png') no-repeat; 
    background-size: 10px 10px;
    background-position: 200px;
}

select option {
    background-color: #222;
    color: #fff;
}


.deg-fee-calculator {
    background-color: #333;
    color: #fff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgb(54, 97, 198);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Trafic-Control-calc{
    background-color: #333;
    color: #fff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgb(54, 97, 198);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.deg-fee-calculator label, .Trafic-Control-calc {
    margin-bottom: 5px;
}

.deg-fee-calculator, .Trafic-Control-calc, input, button, span {
    margin-bottom: 5px;
    background-color: #333;
    color: #fff;
}

.street-age-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    margin-bottom: 5px;
}

button {
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    align-self: center;
}

.street-age-container aside {
    position: absolute;
    left: 100%; 
    margin-left: 10px; 
}

.length-container,
.width-container,
.classification-container,
.days-container,
.detour-container,
.unit-cost-container,
.direction-of-travel-container,
.driving-lanes-container,
.reduce-container,
.parking-lanes-container,
.parking-length-container,
.parking-RW-container,
.parking-units-container,
.permit-fee-container,
.parking-days-container,
.sidewalks-container,
.sidewalk-length-container,
.sidewalk-RW-container,
.sidewalks-cost-container,
.sidewalks-days-container,
.sidewalksreduce-container,
.meter-days-container,
.number-meters-container,
.cost-meters-container,
.alleys-container,
.alleys-days-container,
.alleys-cost-container {
    display: flex;
    flex-direction: column;
}

.age-addon {
    display: flex;
}

.age-addon label {
    margin-bottom: 5px; 
}

.age-addon input {
    margin-bottom: 0;
}

#result, #detour-result, #meter-result, #sidewalks-result, #parking-result, #alley-result, #total-result {
    margin-top: 10px;
    color: #ff0000;
}



@media only screen and (max-width: 600px) {
    .deg-fee-calculator {
        padding: 10px;
    }

    .deg-fee-calculator label,
    .deg-fee-calculator input {
        display: block;
        margin-bottom: 10px;
    }

    .deg-fee-calculator button {
        margin-top: 10px;
    }

    .length-container,
    .width-container,
    .checkbox-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .length-container,
    .width-container input[type="checkbox"],
    .checkbox-container input[type="checkbox"] {
        margin-bottom: 0;
    }
}

.sidewalks-days-container {
    position: relative;
    display: flex;
}

.tooltip {
    position: relative;
    display: inline-block;
    margin-left: 5px; 
}

.tooltip img {
    width: 13px; 
    height: 13px; 
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px; 
    background-color: #555; 
    color: #fff; 
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%; 
    left: 50%;
    margin-left: -60px; 
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

a:link {
    color: rgb(255, 149, 166);
    background-color: transparent;
    text-decoration: none;
}
  
a:visited {
    color: rgb(255, 149, 166);
    background-color: transparent;
    text-decoration: none;
}
  
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
  
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

.dark-mode {
    background-color: #ffffff;
    color: #000000;
}
 
.deg-fee-calculator.dark-mode {
    background-color: #EAEAEA;
    color: #000000;
}

.Trafic-Control-calc.dark-mode {
    background-color: #EAEAEA;
    color: #000000;
}

.deg-fee-calculator.dark-mode button {
    background-color: #d8d8d89e;
    color: #000000;
}   

.Trafic-Control-calc.dark-mode button {
    background-color: #d8d8d89e;
    color: #000000;
}

.title-container.dark-mode button {
    background-color: #d8d8d89e;
    color: #000000;
}