body {
    font-family: 'Roboto', sans-serif;
    background-color: #222;
    color: #fff;
}

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-container h1 {
    margin-right: 20px; 
}

.title-container button {
    background-color: #333;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}


input{
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

input[type="text"], select {
    width: 217px; 
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

select {
    color: white;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('bitmap.png') no-repeat; 
    background-size: 10px 10px;
    background-position: 200px;
}

select option {
    background-color: #222;
    color: #fff;
}


.deg-fee-calculator {
    background-color: #333;
    color: #fff;
    padding: 30px;
    border-radius: 2px;
    box-shadow: 0 0 15px rgb(54, 97, 198);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Trafic-Control-calc{
    background-color: #333;
    color: #fff;
    padding: 30px;
    border-radius: 2px;
    box-shadow: 0 0 15px rgb(54, 97, 198);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.street-plate-calculator {
    background-color: #333;
    color: #fff;
    padding: 30px;
    border-radius: 2px;
    box-shadow: 0 0 15px rgb(54, 97, 198);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.deg-fee-calculator label, .Trafic-Control-calc, .street-plate-calculator {
    margin-bottom: 5px;
}

.deg-fee-calculator, .street-plate-calculator, .Trafic-Control-calc, input, button, span {
    margin-bottom: 5px;
    background-color: #333;
    color: #fff;
}

.street-age-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    margin-bottom: 5px;
}

button {
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    align-self: center;
}

.street-age-container aside {
    position: absolute;
    left: 100%; 
    margin-left: 10px; 
}

.length-container,
.width-container,
.classification-container,
.days-container,
.detour-container,
.unit-cost-container,
.direction-of-travel-container,
.driving-lanes-container,
.reduce-container,
.parking-lanes-container,
.parking-length-container,
.parking-RW-container,
.parking-units-container,
.permit-fee-container,
.parking-days-container,
.sidewalks-container,
.sidewalk-length-container,
.sidewalk-RW-container,
.sidewalks-cost-container,
.sidewalks-days-container,
.sidewalksreduce-container,
.meter-days-container,
.number-meters-container,
.cost-meters-container,
.alleys-container,
.alleys-days-container,
.alleys-cost-container,
.street-plate-length-container,
.street-plate-width-container,
.street-plate-days-container,
.embedded-container,
.closed-container,
.permit-container {
    display: flex;
    flex-direction: column;
}

.age-addon {
    display: flex;
}

.age-addon label {
    margin-bottom: 5px; 
}

.age-addon input {
    margin-bottom: 0;
}

#result, #detour-result, #meter-result, #sidewalks-result, #parking-result, #alley-result, #total-result, #street-plate-result {
    margin-top: 10px;
    color: #ff0000;
}

.sidewalks-days-container {
    position: relative;
    display: flex;
}

.tooltip {
    position: relative;
    display: inline-block;
    margin-left: 5px; 
}

.tooltip img {
    width: 13px; 
    height: 13px; 
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px; 
    background-color: #555; 
    color: #fff; 
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%; 
    left: 50%;
    margin-left: -60px; 
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

a:link {
    color: rgb(255, 149, 166);
    background-color: transparent;
    text-decoration: none;
}
  
a:visited {
    color: rgb(255, 149, 166);
    background-color: transparent;
    text-decoration: none;
}
  
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
  
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

.dark-mode {
    background-color: #ffffff;
    color: #000000;
}
 
.deg-fee-calculator.dark-mode {
    background-color: #EAEAEA;
    color: #000000;
}

.Trafic-Control-calc.dark-mode {
    background-color: #EAEAEA;
    color: #000000;
}

.deg-fee-calculator.dark-mode button {
    background-color: #d8d8d89e;
    color: #000000;
}   

.Trafic-Control-calc.dark-mode button {
    background-color: #d8d8d89e;
    color: #000000;
}

.title-container.dark-mode button {
    background-color: #d8d8d89e;
    color: #000000;
}

.street-plate-calculator.dark-mode button {
    background-color: #d8d8d89e;
    color: #000000;
}

.street-plate-calculator.dark-mode {
    background-color: #EAEAEA;
    color: #000000;
}

.content.dark-mode {
    background-color: white;
    color: #000000;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
  
.active, .collapsible:hover {
    background-color: #555;
}
  
.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
  
.active:after {
    content: "\2212";
}
  
.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.9s ease-out;
    background-color: #222;
}