body {
    font-family: 'Roboto', sans-serif;
    background-color: #222;
    color: #fff;
}

.title-container {
    margin-left: 10px; 
}

.deg-fee-calculator {
    background-color: #333;
    color: #fff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.deg-fee-calculator label {
    margin-bottom: 5px;
}

.deg-fee-calculator input, button, span {
    margin-bottom: 5px;
    background-color: #333;
    color: #fff;
}

.street-age-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    margin-bottom: 5px;
}

.street-age-container aside {
    position: absolute;
    left: 100%; 
    margin-left: 10px; 
}

.length-container,
.width-container {
    display: flex;
    flex-direction: column;
}

.age-addon {
    display: flex;
}

.age-addon label {
    margin-bottom: 5px; 
}

.age-addon input {
    margin-bottom: 0;
}

#result {
    margin-top: 10px;
    color: #2600ff;
}



@media only screen and (max-width: 600px) {
    .deg-fee-calculator {
        padding: 10px;
    }

    .deg-fee-calculator label,
    .deg-fee-calculator input {
        display: block;
        margin-bottom: 10px;
    }

    .deg-fee-calculator button {
        margin-top: 10px;
    }

    .length-container,
    .width-container,
    .checkbox-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .length-container,
    .width-container input[type="checkbox"],
    .checkbox-container input[type="checkbox"] {
        margin-bottom: 0;
    }
}
